<section class="container-sm">
    <h1>Users</h1>
<input type="button" value="Add User" class="btn btn-success" routerLink="/formulario">
<section>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of registros">
                <td>{{item.Id}}</td>
                <td>{{item.Titulo + " " + item.Nombre + " " + item.Apellido}}</td>
                <td>{{item.Correo}}</td>
                <td>{{item.Role}}</td>  
                <td>
                    <a class="btn btn-primary" routerLink="/formulario/{{item.Id}}">Edit</a>
                </td>
                <td>
                    <input class="btn btn-danger" type="button" value="Delete" (click)="Eliminar(item.Id)">
                </td>
            </tr>
        </tbody>
    </table>
</section>

</section>
